#etc { 
	margin-left: auto; 
	margin-right: auto;
	margin-top:-30px;
	width: 30px;
	height: 20px;
	border: 2px solid #078;
	background-color: #cef;
	text-align: center;
	font-family: Arial;
	font-weight: 900;
	border-radius: 5px;
	display: none;
	cursor:pointer; 
}
th { 
	border: 2px solid #fcc; 
	font-weight: bold;
	border-radius: 2px;
	font-size: 17px;
}
td {
	border-radius: 2px;
	border: 2px solid #fcc;
	font-size: 16px;
}

#Menu {
	position: relative;
	width: 190px;
	float: right;
	border: 2px dashed #fcc;
}
#Erro {
	font-size: 13px;
	color: #d66;
	border: 2px dashed #d66;
	width: 50%;
	padding: 15px;
}
.Cadastra td { border: none;}
#Top {
	position:relative; 
	width: 70%;
	margin-left: 115px;
	top: 20px;
	padding: 10px;
	height: 140px; 
}
#Top a {text-decoration: none;}
#MainDiv {
	position: relative;
	margin-left: 115px;
	height: auto;
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	color: #555;
	overflow: auto;
	font-style: normal;
}
input {
	margin: 4px 0px 4px 0px;
       	background-color: #eee;
       	color: #555; 
	border: 1px dashed #555;
	border-radius: 2px;
	width: 120px;
	height: 20px;
	font-style: italic;
	padding: 3px;
	outline: none;
	font-size: 12px;
}
td img { 
	vertical-align:middle;
	padding: 3px;
	margin: 0;
}
#corrInput {
	width: 580px;
}
#Rfile {
	width: 200px;
	height: 30px;
}
button {
	margin: 4px 0px 4px 0px; 
	padding-left: 3px; 
	padding-right:3px;
	width: 120px;
	height: 25px;
	text-align: center;
	font-style: italic;
	display: inline; 
	background-color: #eee;
	color: #555; 
	border: 2px solid #ddf; 
	border-radius: 6px;
	cursor:pointer; 
}
.small {
		font-size: 10px;
}
.long {
		width: 360px;
}
.code {
	padding: 7px;
	font-family: Courier;
}
body {
	height: auto;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	background-color: #FFF;
	color: #555;
	font-style: normal;
} 
code {
	color: #A00;
	font-family: Courier, monospace;
	background-color: #EEE;
}
a {
	color: #078;
}
p {
	line-height: 160%;
}
#corretoR {
		border: 2px dashed black;
		border-radius: 5px;
		background: #def;
		padding: 7px;
		overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    max-height: 600px;
}

.timepick {
	width:150px;
}

/* css for timepicker */
.ui-timepicker-div dl { text-align: left; font-size: 12px;}
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.ui-datepicker .ui-datepicker-buttonpane button {font-size: 11px;}

.ui-datepicker-calendar th, .ui-datepicker td {font-size: 12px;}
#ui-datepicker-div .ui-datepicker-header {font-size: 13px; background: #def; border: none; color: #000}
