td {
		border: 2px solid #fcc;
}

#Menu {
	position: relative;
	width: 140;
	float: right;
	border: 2px dashed #fcc;
}
#Cadastra td { border: none;}
#Top {
	position:relative; 
	width: 70%;
	margin-left: 155px;
	top: 50px;
	padding: 10px;
	height: 120px; 
}
#Top a {text-decoration: none;}
#MainDiv {
	margin-left: 155px;
	height: auto;
	width: 70%;
	padding: 10px;
	margin-bottom: 5px;
	color: #555;
	overflow: auto;
	font-style: normal;
}
input {
	margin: 4px 0px 4px 0px;
       	background-color: #eee;
       	color: #555; 
	border: 1px dashed #555;
	width: 120px;
	height: 20px;
	font-style: italic;
	padding: 3px;
	outline: none;
}
#corrInput {
	width: 580px;
}
#Rfile {
	width: 200px;
	height: 30px;
}
button {
	margin: 4px 0px 4px 0px; 
	padding-left: 3px; 
	padding-right:3px;
	width: 50px;
	height: 20px;
	text-align: center;
	font-style: italic;
	display: inline; 
	background-color: #eee;
	color: #555; 
	border: none; 
	cursor:pointer; 
}
.small {
		font-size: 9.5px;
}
body {
	height: auto;
	font-family: Sans-Serif;
	font-size: 12px;
	background-color; #FFF;
	color: #555;
	font-style: normal;
} 
a {
	color: #078;
}
p {
	line-height: 160%;
}
#corretoR {
		border: 2px dashed black;
		background: #def;
		padding: 7px;
}
